body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    background: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px;
    padding-top: 100px;

    height: 60px;
    font-size: 72px;
    color: blue;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header,
ul {
    background-clip: border-box;
    background: linear-gradient(to right,
            hsl(170 100% 62%),
            hsl(204 100% 59%));
    background-clip: content-box;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(25, 224, 52, 0.2);
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 15px;

    border: 5px;
    border-style: dashed;
    padding: 15px;
    margin-bottom: 15px;

    font-size: 28px;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    padding: 50px 0px;
}